{{#each beersFromApi}}

<div class="col-1"></div>
<div class="col-6">
<li><img src="{{image_url}}" alt="Beer image" ></li>
</div>
<div class="col-5">
<li>{{name}}</li>
<li>{{description}}</li>
<li>{{tagline}}</li>
</div>
{{/each}}

